rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ALLOW EVERYTHING (Development Mode Only)
    // TODO: Lock this down when Authentication is implemented!
    match /{document=**} {
      allow read, write: if true;
    }
  }
}